<?php
    /*Insert credentials for database and Marvel API and
      rename file to MSu_login_info.php*/
    $db_username='';
    $db_password='';
    $marvelapi_privatekey='';
    $marvelapi_publickey='';

    
